.tienda-contenido {
    background-image: linear-gradient($secondary-color, #c4c4c4);
}

.subtitle {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

.tienda-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.tienda-item {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 1 0 300px;
    max-width: 300px;
}

.hr-product {
    color: $primary-color;
    border: solid 0.5px;
    width: 38%;
    margin-bottom: 1rem;
}

.producto-info p {
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
}

.producto-comprar {
    width: 50%;
    margin: 1rem 0rem 1rem;
    font-size: map-get($map: $font-sizes, $key: 'medium');
    font-weight: bold;
    height: 2.5rem;
    border: solid 0.5px $primary-color;
    border-radius: 10px;
    color: $secondary-color;
    background-color: $primary-color;
    box-shadow: 5px 10px 10px rgba(82, 82, 82, 0.489);
}

.producto-comprar:hover {
    background-color: $secondary-color;
    color: $primary-color;
}

.producto-comprar:active {
    background-color: #1b0a00;
    transform: translateY(2px);
}