.footer {
    padding: 1rem;
    font-size: map-get($map: $font-sizes, $key: 'small');
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: $primary-color;
    color: $secondary-color;
}

.footer ul li {
    list-style: none;
}

.socials-footer {
    @include center-flex;
    margin: 0;
    padding: 0;
}

.social {
    width: 3rem;
    padding: 0.5rem;
    filter: grayscale(100);
}

.copy {
    text-align: center;
}