.navbar {
    background-color: $primary-color;
}

.logo-nav {
    width: 90px;
    height: auto;
    margin-bottom: 4.5px;
    margin-right: 5.6px;
}

ul li a {
    font-family: "Roboto Mono", monospace;
}