@media screen and (max-width: 750px) {
    .data-form {
        width: 100%;
    }

    footer {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    tr {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}